html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

a {
  color: #0d6efd;
  text-decoration: none;
}

section {
  padding: 80px 0;
}

img {
  max-width: 100%;
  height: auto;
}
